* {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: #EAC926;
    padding: 20px;
}

main {
    background-color: #ebebeb;
}

footer {
    text-align: center;
    padding: 10px;
}

.cabezera {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    box-sizing: border-box;
}

#caja-logo {
    width: 50%;
    text-align: center;
}

#logo {
    width: 90%;
}

#caja-search-lupa {
    width: 50%;
    display: flex;
}

#search {
    background-color: white;
    width: 90%;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
}

#lupa {
    background-color: white;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
}

#caja-compra-en-cuotas {
    margin: auto;
    width: 90%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

nav {
    display: none;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.lista-1 {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.lista-2 {
    width: 30%;
    display: flex;
    justify-content: end;
    justify-content: space-evenly;
}

#div-burger-menu {
    text-align: center;
}

#burger-menu {
    color: white;
    background-color: blue;
    padding: 5px;
}

#banner {
    display: none;
    width: 100vw;
}

.titulares {
    text-align: center;
    font-size: 24px;
}

.section-productos {
    width: 90vw;
    margin: auto;
}

article {
    margin-bottom: 10px;
}

.img {
    text-align: center;
}

.img-productos {
    width: 88%;
}

.contenido-producto {
    background-color: white;
    width: 88%;
    border-top: solid 1px #ebebeb;
    padding: 15px;
    margin: auto;
    box-sizing: border-box;
}

.img-camion {
    color: #39b54a;
}

.precio-descuento {
    display: flex;
}

.precios {
    font-size: 18px;
    width: 30%;
}

.descuentos,
.descrip {
    font-size: 16px;
}

.descuentos {
    color: #39b54a;
    width: 70%;
    text-align: end;
}

.descrip {
    display: none;
}

.footer-icones {
    color: blue;
    margin-bottom: 10px;
}

/* tablet */
@media (min-width: 481px) {

    #banner {
        display: block;
    }

    .section-productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    article {
        width: 40%;
    }

    .descrip {
        display: block;
    }

    /*
    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }*/

    .titulares {
        text-align: center;
    }

    #copyright {
        margin: auto;
    }
}

/* desktop */
@media (min-width: 769px) {

    .cabezera {
        justify-content: space-between;
    }

    #caja-logo {
        width: 30%;
    }

    #caja-search-lupa {
        width: 40%;
    }

    #caja-compra-en-cuotas {
        width: 30%;
    }

    nav {
        display: block;
    }

    #div-burger-menu {
        display: none;
    }

    nav {
        display: block;
    }

    article {
        width: 20%;
    }

    article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        transition-property: all;
        transition-duration: 0.5s;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #paga-con-tarjeta {
        width: 30%;
    }

    #envio-gratis {
        width: 30%;
    }

    #seguridad {
        width: 30%;
    }
}